

body{
    background-color: #1b1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
}
div{
    background-color: #610707;
    display: grid;
    gap: 10px 10px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 80%;

}

img{
    border-radius: 0.5rem;
    border: solid #faf9f9 3px;
}

